.hero {
    display: flex;
    flex-direction: row;

 &__image {
        // display: flex;
        // justify-content: stretch;
        height: 120px;
        width: 50vw;
    }

    // &image2 {
    //     height: 30px;
    //     width: 25vw;
    //     margin-right: 5px;
    // }
}